.message {
    display: flex;
    align-items: center;
}

.message > img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    border-radius: 999px;
    padding: 5px;
}

.message__timestamp {
    color: gray;
    font-weight: 300;
}

.message__info {
    padding-left: 10px;
}